<div class="center-outer">
  <div class="center-middle">
    <div class="center-inner">
      <div class="page-header">Welcome to Transcripts Dapp</div>

      <mat-grid-list cols="2">
        <mat-grid-tile>
          <div class="grid-tile-title">
            View Transcript Applications
          </div>
          <div class="grid-tile-description">
            View the status of previously applied transcript applications and access transcripts
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div class="grid-tile-title">
            New Application
          </div>
          <div class="grid-tile-description">
            Create a new application for a transcript
          </div>
        </mat-grid-tile>
      </mat-grid-list>