<div class="popup">
    <div class="instructions">
        The subdomain '{{ name }}' has not been registered yet. 
        You can create this subdomain now by clicking the 'Create' button.
        If you already have an account, please check your spelling.
    </div>

    <div class="material-button-row">
        <button mat-flat-button color="primary" name="create" (click)="createAccount()">Create</button>
        <button mat-flat-button color="secondary" name="close" (click)="closePopup()">Close</button>
    </div>
</div>