<div class="center-outer">
  <div class="center-middle">
    <div class="center-inner">
      <div class="page-header">Login</div>

      <div *ngIf="showAuthenticationError" class="instructions error">
        This account doesn't have the required privileges.
        <br>
        Choose another login option or contact an administrator.
      </div>
      <form class="material-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="form-group material-full-width">
          <mat-select placeholder="Login as" [formControl]="loginType" (selectionChange)="loginTypeChanged()">
            <mat-option value="student">Student</mat-option>
            <mat-option value="college">College/University</mat-option>
            <mat-option value="admin">Admin</mat-option>
          </mat-select>
          <mat-error *ngIf="loginType.invalid">{{getErrorMessage(loginType)}}</mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="loginType.value==='student'" class="form-group material-full-width">
          <input matInput type="text" placeholder="Enter username here" [formControl]="username" />
          <mat-error *ngIf="username.invalid">{{getErrorMessage(username)}}</mat-error>
        </mat-form-field>

        <div class="material-button-row">
          <button mat-flat-button color="primary" [disabled]="!loginForm.valid" name="submit">Login</button>
        </div>

      </form>
    </div>
  </div>
</div>

<app-login-popup id="popup" [hidden]="!showPopup" [show]="showPopup" (showChange)="hidePopup()" [name]="popupInput"></app-login-popup>