<div class="center-outer">
  <div class="center-middle">
    <div class="center-inner">
      <div class="page-header">Transcripts DApp</div>
      <div class="instructions">
        Welcome to the Dapp for transcripts application.<br>
        This Dapp is based on Ethereum, and thus requires a Web3 instance to use.<br>
        Web3 instances can be provided through browsers such as Mist or extensions such as Metamask.<br>
        You may also choose to use a mobile Ethereum wallet with QR scanning enabled.<br>
        Press the button below to choose your preferred method for using the Dapp.
      </div>
      <div class="actions">
        <button mat-raised-button color="primary" type="submit" (click)="connectMobileWallet()">
          Mobile Wallet
        </button>
        <button mat-raised-button color="primary" type="submit" (click)="connectMetamask()">
          Metamask
        </button>
      </div>
    </div>
  </div>
</div>
