<div class="center-outer">
  <div class="center-middle">
    <form class="material-form center-inner">
      <h1>Transcript Application</h1>
      <p>
        Apply for transcripts from any of the college/university you have attended.
      </p>
      <p>
        NOTE: Application requires some ether (exact values depend on current gas prices). Please ensure your wallet
        has ether before proceeding.
      </p>
      <mat-form-field class="material-full-width">
        <input type="text" placeholder="Select your college/university" matInput [matAutocomplete]="auto" [(ngModel)]="college"
          name="college">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options | includesValue:college" [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field class="material-full-width">
        <input matInput placeholder="Enter your college/university ID" [(ngModel)]="id" name="id">
      </mat-form-field>
      <div class="material-button-row">
        <button mat-flat-button color="primary" (click)="submitApplication()" name="submit">Apply</button>
      </div>
    </form>
  </div>

  <br><br>
  <a routerLink="/application-list"><button class="btn btn-success" >View Application List</button></a>

</div>
