/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  margin: 0 0 0 0;
}

.material-form {
  min-width: 150px;
  max-width: 300px;
  width: 100%;
  color: black;
  margin: 0 auto 1em;
}

.mat-form-field {
  margin-top: 0.5em;
}

.material-full-width {
  width: 100%;
  color: black;
}

.material-button-row {
  margin-top: 1em;
}

.center-outer {
  display: table;
  position: relative;
  width: 100%
}

.center-middle {
  display: table-cell;
  vertical-align: middle;
}

.center-inner {
  text-align: center;
  margin: 0 auto;
}

.instructions {
  max-width: 100%;
  font-size: 1.2em;
  font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
  margin: 1em 0;
}

.page-header {
  font-size: 3em;
  font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
  margin: 1em 0;
}

.mat-tab-body {
  padding: 2em;
}

.center-spinner {
  margin: auto;
}

.error {
  color: red;
}

[hidden] {
  display: none !important;
}
